
<!DOCTYPE html>
<html>

<head>
<!-- <link rel="stylesheet" href="static/css/view.css"> -->
	<title>PreStudy Questionnaire</title></head>
<body style="padding-left:100px;">
	<form method="post">

		<h1 style="color: grey;">Pre-Study Questionnaire</h1>
		<br>
		<h2 style="color: darkgreen;">Please answer each of the following questions:</h2>
		<h3 style="font-size: 20px;	font-weight: 100; padding-left: 15px;">
		<b>1.</b> Age:
  	<input type="text" name="age" autocomplete="off">
  	<br><br><br>

  	<b>2.</b> Gender:
  	<input type="text" name="gender" autocomplete="off">
  	<br><br><br>

  	<b>3.</b> Occupation:
  	<input type="text" name="occupation" autocomplete="off">
  	<br><br><br>

  	<b>4.</b> Field of Study (if student, otherwise enter n/a):
  	<input type="text" name="field" autocomplete="off">
  	<br><br><br>

		<b>5.</b> What is your native language/first language learned:
		<input type="text" name="first_language" autocomplete="off">
		<br><br><br>

		<b>6.</b> Currently in your everyday life, what is your preferred language to speak/read:
  	<input type="text" name="pref_language" autocomplete="off">
  	<br><br><br>

		<b>7.</b> Please self-report your English language proficiency:
		<h4 style="padding-left: 60px; line-height:1.4; font-weight: 100; font-size: 20px;">
		<input type="radio" name="enlish_proficiency" value="1"> Beginner<br>
		<input type="radio" name="enlish_proficiency" value="2"> Novice<br>
		<input type="radio" name="enlish_proficiency" value="3"> Advanced<br>
		<input type="radio" name="enlish_proficiency" value="4"> Expert<br>
		</h4>
		<br>

		<h3 style="font-size: 20px;	font-weight: 100; padding-left: 15px;">
		<b>8.</b> On average, how often do you read books and articles each week (e.g., novels, journals, reserach papers, newspapers, magazines, etc.).
		<h4 style="padding-left: 60px; line-height:1.4; font-weight: 100; font-size: 20px;">
		<input type="radio" name="read_freq" value="1"> 0-1 hours<br>
		<input type="radio" name="read_freq" value="2"> 2-4 hours<br>
		<input type="radio" name="read_freq" value="3"> 4-10 hours<br>
		<input type="radio" name="read_freq" value="4"> 10+ hours<br>
		</h4>
  	<br>

		<h3 style="font-size: 20px;	font-weight: 100; padding-left: 15px;">
		<b>9.</b> Please rate the following statement: "I am often/easily distracted when I read."
		<h4 style="padding-left: 60px; line-height:1.4; font-weight: 100; font-size: 20px;">
		<input type="radio" name="distrcted" value="1"> Not like me at all<br>
		<input type="radio" name="distrcted" value="2"> Not much like me<br>
		<input type="radio" name="distrcted" value="3"> Somewhat like me<br>
		<input type="radio" name="distrcted" value="4"> Mostly like me<br>
		<input type="radio" name="distrcted" value="5"> Very much like me<br>
		</h4>
		<br>


		<h3 style="font-size: 20px;	font-weight: 100; padding-left: 15px;">
  	<b>10.</b>. On average, what is frequency that you see/encouter Bar Charts in your life (an example Bar chart is shown below):
		<br><br>
		<img src="Sample_bars_2.png" style="padding-left:100px;">
		<h4 style="padding-left: 60px; line-height:1.4; font-weight: 100; font-size: 20px;">
		<input type="radio" name="complex_bar" value="1"> Never<br>
		<input type="radio" name="complex_bar" value="2"> Rarely (several times a year)<br>
		<input type="radio" name="complex_bar" value="3"> Occasionally (several times a month)<br>
		<input type="radio" name="complex_bar" value="4"> Frequently (several times a week)<br>
		<input type="radio" name="complex_bar" value="5"> Very frequently (several times a day)<br>
		</h4>



  	<br>
</h3>
<input type="submit" value="Next">
</form>
</body>
</html>
