<!DOCTYPE html>
<html>
<title>Welcome to the MMD Study 1</title>
<head>
    <link rel="stylesheet" href="static/css/view.css">
    <script type="text/javascript" src="static/js/libraries/view.js"></script>
    <script src="static/js/libraries/jquery.js"></script>

</head>
<body>
<h1>Generate the AOIs for all the experiment conditions here: </h1>
<div class="aoi">
    <form id="form_index" class="appnitro" method="post" action="/">
        <input type="submit" value="generate AOIs">
    </form>
</div>
</body>
</html>
