<!DOCTYPE html>
<html>
<title>Welcome to the MMD Study 1</title>
<head>
	<link rel="stylesheet" href="static/css/view.css">
	<script type="text/javascript" src="static/js/libraries/view.js"></script>
	<script src="static/js/libraries/jquery.js"></script>


</head>
<body>
<h1>Welcome to the experiment</h1>
<div id="form_container">
	I would like to:
<div class="form_description">
	<form id="form_index" class="appnitro" method="post" action="/">
		<ul>
				<input id="element_1_1" name="element_1" class="element radio" type="radio" value="1">
				<label class="choice" for="element_1_1">Start a new experiement</label>
				<input id="element_1_2" name="element_1" class="element radio" type="radio" value="2">
				<label class="choice" for="element_1_2">Resume the experiment for an existing User</label>
		</ul>
		<input type="hidden" id="answers" name="answers" value="">

		</br>

		<input type="submit" value="submit">
	</form>
</div>
</div>
</body>
</html>
