
<!DOCTYPE html> 
<html>

<head><title>Locus</title></head> 
<body>
<p>userid: {{userid}}<p>
<h1>Locus</h1>
<p>Please select the statement for each question that best describes how you feel.</p>

<form method="post" action="/locus">
	<p>1.</p>
	<input type="radio" name="question1" value="A"> Children get into trouble because their parents punish them too much.<br>
	<input type="radio" name="question1" value="B"> The trouble with most children nowadays is that their parents are too easy with them.<br>

	<p>2.</p>
	<input type="radio" name="question2" value="A"> Many of the unhappy things in people's lives are partly due to bad luck.<br>
	<input type="radio" name="question2" value="B"> People's misfortunes result from the mistakes they make.<br>

	<p>3.</p>
	<input type="radio" name="question3" value="A"> One of the major reasons why we have wars is because people don't take enough interest in politics.<br>
	<input type="radio" name="question3" value="B"> There will always be wars, no matter how hard people try to prevent them.<br>

	<p>4.</p>
	<input type="radio" name="question4" value="A"> In the long run people get the respect they deserve in this world.<br>
	<input type="radio" name="question4" value="B"> Unfortunately, an individual's worth often passes unrecognized no matter how hard he tries.<br>

	<p>5.</p>
	<input type="radio" name="question5" value="A"> The idea that teachers are unfair to students is nonsense.<br>
	<input type="radio" name="question5" value="B"> Most students don't realize the extent to which their grades are influenced by accidental happenings.<br>

	<p>6.</p>
	<input type="radio" name="question6" value="A"> Without the right breaks one cannot be an effective leader.<br>
	<input type="radio" name="question6" value="B"> Capable people who fail to become leaders have not taken advantage of their opportunities.<br>

	<p>7.</p>
	<input type="radio" name="question7" value="A"> No matter how hard you try some people just don't like you.<br>
	<input type="radio" name="question7" value="B"> People who can't get others to like them don't understand how to get along with others.<br>

	<p>8.</p>
	<input type="radio" name="question8" value="A"> Heredity plays the major role in determining one's personality.<br>
	<input type="radio" name="question8" value="B"> It is one's experiences in life which determine what they're like.<br>

	<p>9.</p>
	<input type="radio" name="question9" value="A"> I have often found that what is going to happen will happen.<br>
	<input type="radio" name="question9" value="B"> Trusting to fate has never turned out as well for me as making a decision to take a definite course of action.<br>

	<p>10.</p>
	<input type="radio" name="question10" value="A"> In the case of the well prepared student there is rarely if ever such a thing as an unfair test.<br>
	<input type="radio" name="question10" value="B"> Many times exam questions tend to be so unrelated to course work that studying in really useless.<br>

	<p>11.</p>
	<input type="radio" name="question11" value="A"> Becoming a success is a matter of hard work, luck has little or nothing to do with it.<br>
	<input type="radio" name="question11" value="B"> Getting a good job depends mainly on being in the right place at the right time.<br>

	<p>12.</p>
	<input type="radio" name="question12" value="A"> The average citizen can have an influence in government decisions.<br>
	<input type="radio" name="question12" value="B"> This world is run by the few people in power, and there is not much the little guy can do about it.<br>

	<p>13.</p>
	<input type="radio" name="question13" value="A"> When I make plans, I am almost certain that I can make them work.<br>
	<input type="radio" name="question13" value="B"> It is not always wise to plan too far ahead because many things turn out to be a matter of good or bad fortune anyhow.<br>

	<p>14.</p>
	<input type="radio" name="question14" value="A"> There are certain people who are just no good.<br>
	<input type="radio" name="question14" value="B"> There is some good in everybody.<br>

	<p>15.</p>
	<input type="radio" name="question15" value="A"> In my case getting what I want has little or nothing to do with luck.<br>
	<input type="radio" name="question15" value="B"> Many times we might just as well decide what to do by flipping a coin.<br>

	<p>16.</p>
	<input type="radio" name="question16" value="A"> Who gets to be the boss often depends on who was lucky enough to be in the right place first.<br>
	<input type="radio" name="question16" value="B"> Getting people to do the right thing depends upon ability, luck has little or nothing to do with it.<br>

	<p>17.</p>
	<input type="radio" name="question17" value="A"> As far as world affairs are concerned, most of us are the victims of forces we can neither understand, nor control.<br>
	<input type="radio" name="question17" value="B"> By taking an active part in political and social affairs the people can control world events.<br>

	<p>18.</p>
	<input type="radio" name="question18" value="A"> Most people don't realize the extent to which their lives are controlled by accidental happenings.<br>
	<input type="radio" name="question18" value="B"> There really is no such thing as "luck."<br>

	<p>19.</p>
	<input type="radio" name="question19" value="A"> One should always be willing to admit mistakes.<br>
	<input type="radio" name="question19" value="B"> It is usually best to cover up one's mistakes.<br>

	<p>20.</p>
	<input type="radio" name="question20" value="A"> It is hard to know whether or not a person really likes you.<br>
	<input type="radio" name="question20" value="B"> How many friends you have depends upon how nice a person you are.<br>

	<p>21.</p>
	<input type="radio" name="question21" value="A"> In the long run the bad things that happen to us are balanced by the good ones.<br>
	<input type="radio" name="question21" value="B"> Most misfortunes are the result of lack of ability, ignorance, laziness, or all three.<br>

	<p>22.</p>
	<input type="radio" name="question22" value="A"> With enough effort we can wipe out political corruption.<br>
	<input type="radio" name="question22" value="B"> It is difficult for people to have much control over the things politicians do in office.<br>

	<p>23.</p>
	<input type="radio" name="question23" value="A"> Sometimes I can't understand how teachers arrive at the grades they give.<br>
	<input type="radio" name="question23" value="B"> There is a direct connection between how hard 1 study and the grades I get.<br>

	<p>24.</p>
	<input type="radio" name="question24" value="A"> A good leader expects people to decide for themselves what they should do.<br>
	<input type="radio" name="question24" value="B"> A good leader makes it clear to everybody what their jobs are.<br>

	<p>25.</p>
	<input type="radio" name="question25" value="A"> Many times I feel that I have little influence over the things that happen to me.<br>
	<input type="radio" name="question25" value="B"> It is impossible for me to believe that chance or luck plays an important role in my life.<br>

	<p>26.</p>
	<input type="radio" name="question26" value="A"> People are lonely because they don't try to be friendly.<br>
	<input type="radio" name="question26" value="B"> There's not much use in trying too hard to please people, if they like you, they like you.<br>

	<p>27.</p>
	<input type="radio" name="question27" value="A"> There is too much emphasis on athletics in high school.<br>
	<input type="radio" name="question27" value="B"> Team sports are an excellent way to build character.<br>

	<p>28.</p>
	<input type="radio" name="question28" value="A"> What happens to me is my own doing.<br>
	<input type="radio" name="question28" value="B"> Sometimes I feel that I don't have enough control over the direction my life is taking.<br>

	<p>29.</p>
	<input type="radio" name="question29" value="A"> Most of the time I can't understand why politicians behave the way they do<br>
	<input type="radio" name="question29" value="B"> In the long run the people are responsible for bad government on a national as well as on a local level.<br>

	<br>

<input type="submit">
</form>
</body> 
</html>