
<!DOCTYPE html>
<html>

<head>
<!-- <link rel="stylesheet" href="static/css/view.css"> -->
	<title>Post-Study Question</title>
  <style>
  table {
  border-collapse: collapse;
  border-style: hidden;
  }
  table td, table th {
    border: 1px solid grey;
  }
  </style>

</head>
  <body style="padding-left:100px;">
	<form method="post">

		<h1 style="color: grey;">Post-Study Question</h1>
    <center><img src="post_question_adaptation.png" style="padding-left:100px;border:1px solid grey;" ></center>
    <h2 style="color: darkgreen;">Please rate how strongly you agree or disagree with each of the following statements about the interventions provided in the snippets:</h2>

      <table width = "95%" style="border-collapse: collapse;">
          <tr><th width="44%" style="border: 1px solid grey;"></td>
              <th width="8%">Strongly disagree</td>
              <th width="8%">Disagree</td>
              <th width="8%">Somewhat disagree</td>
              <th width="8%">Undecided</td>
              <th width="8%">Somewhat agree</td>
              <th width="8%">Agree</td>
              <th width="8%">Strongly agree</td>
            </tr>

            <tr><td width="30%"><b>1.</b> The interventions were useful.</td>
            <td align="center"><input type="radio" name="adapt_useful" value="1"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="2"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="3"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="5"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="6"></td>
            <td align="center"><input type="radio" name="adapt_useful" value="7"></td></tr>

            <tr><td width="30%"><b>2.</b> The interventions helped me understand the snippet.</td>
            <td align="center"><input type="radio" name="adapt_understand" value="1"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="2"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="3"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="5"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="6"></td>
            <td align="center"><input type="radio" name="adapt_understand" value="7"></td></tr>

            <tr><td width="30%"><b>3.</b> The interventions helped me to focus on relevant information.</td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="1"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="2"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="3"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="5"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="6"></td>
            <td align="center"><input type="radio" name="adapt_helpfocus" value="7"></td></tr>

            <tr><td width="30%"><b>4.</b> The interventions were distracting.</td>
            <td align="center"><input type="radio" name="adapt_distracting" value="1"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="2"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="3"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="5"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="6"></td>
            <td align="center"><input type="radio" name="adapt_distracting" value="7"></td></tr>

            <tr><td width="30%"><b>5.</b> The interventions were easy to notice.</td>
            <td align="center"><input type="radio" name="adapt_easy" value="1"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="2"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="3"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="5"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="6"></td>
            <td align="center"><input type="radio" name="adapt_easy" value="7"></td></tr>

            <tr><td width="30%"><b>6.</b> The interventions were confusing.</td>
            <td align="center"><input type="radio" name="adapt_confusing" value="1"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="2"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="3"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="5"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="6"></td>
            <td align="center"><input type="radio" name="adapt_confusing" value="7"></td></tr>

            <tr><td width="30%"><b>7.</b> The interventions appeared at the right time when reading the snippet.</td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="1"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="2"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="3"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="5"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="6"></td>
            <td align="center"><input type="radio" name="adapt_goodtiming" value="7"></td></tr>

            <tr><td width="30%"><b>8.</b> The interventions were well integrated into the snippet.</td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="1"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="2"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="3"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="5"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="6"></td>
            <td align="center"><input type="radio" name="adapt_wellintegrated" value="7"></td></tr>

            <tr><td width="30%"><b>9.</b> I was satisfied with the interventions.</td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="1"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="2"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="3"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="5"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="6"></td>
            <td align="center"><input type="radio" name="adapt_satisfied" value="7"></td></tr>

            <tr><td width="30%"><b>10.</b> I would like to have these interventions again when I read these types of snippet.</td>
            <td align="center"><input type="radio" name="adapt_reuse" value="1"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="2"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="3"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="4" checked="checked"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="5"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="6"></td>
            <td align="center"><input type="radio" name="adapt_reuse" value="7"></td></tr>
        </table>

        <h2>Please explain your response: </h2>
        <p><strong>11.</strong>	What did you like about the interventions?<br />
          <textarea name='comments_like' rows='10' cols='100'>&nbsp;</textarea><br /><br />
        </p>

        <p><strong>12.</strong>	What did you dislike about the interventions?<br />
          <textarea name='comments_dislike' rows='10' cols='100'>&nbsp;</textarea><br /><br />
        </p>

        <p><strong>13.</strong>	How could we improve the interventions?<br />
          <textarea name='comments_howimprove' rows='10' cols='100'>&nbsp;</textarea><br /><br />
        </p>

<p><br><br><input type="submit" value="Done"></p>
</form>
</body>
</html>
