
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="static/css/view.css">
  <title>Sample Intervention</title></head>
  <h1 style="text-align: left; padding-left: 200px; color: yellowgreen; font-style: italic; font-size: 30px">
    Sample Intervention:</h1>
<body>
<br>
<img id="img" src="./static/sample/post_question_adaptation.png">
<script>
    let imagePath = './static/sample/' + '{{cond}}' + '.png';
    document.getElementById("img").src = imagePath;
</script>

<form id="form1"  method="post" >
    <div>
        <br>
        <input type="submit" value="Next">
    </div>
</form>


</body>
</html>
